.left-wraper{float:left; background: green; width: 400px; height: 400px; margin:5px}
.right-wraper{float:right; background: green; width: 400px; height: 400px; margin:5px}
.box::after{content: ""; clear:both; display: block;}

