.image{float: right; width: 300px}
.text{float: left; width: 500px}
.clear{clear: both;}
/*.text1{display: inline-block;}*/
.text1::before{content: "";
background: blue;
width:5px;
height: 20px;
display: inline-block;
margin: 0 20px}

.text1::after{content: "";
background: red;
width: 5px;
height:20px;
display: inline-block;
margin: 0 20px;
}